.wallet .stat-card h3 {
    text-align: center;
}

.wallet .stat-card p {
    text-align: center;
    color: #f2b45c;
    margin-top: 20px;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wallet .no-transactions {
    color: #f2b45c;
}