.wallet .balance {
    display: flex;
    flex-flow: row nowrap;
    margin: 20px 0px;
    align-items: center;
    justify-content: center;
}

.wallet .balance > * {
    flex: 0 auto;
}

.wallet .balance p {
    font-size: 4.5rem;
    font-family: Inconsolata;
}

.wallet .balance img {
    height: 5rem;
    width: 5rem;
    margin-bottom: 10px;
    margin-left: 30px;
}

.wallet .wallet-actions {
    display: flex;
    justify-content: flex-end;
}

.wallet button span {
    text-transform: none !important;
}

@media (max-width: 414px) {
    .wallet .balance {
        font-size: 2.5rem;
    }

    .wallet .balance img {
        height: 3rem;
        width: 3rem;
        display: none;
    }
}

@media (max-width: 768px) {
    .wallet .balance {
        font-size: 2.75rem;
    }

    .wallet .balance img {
        height: 3.5rem;
        width: 3.5rem;
    }
}

.wallet .transactions {
    margin: 20px 0px;
}

.wallet .transactions .tx {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px 0px;
    word-break: break-all;
}

.wallet .transactions .icon,
.wallet .transactions .value {
    flex: 0 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallet .transactions .icon svg {
    color: #f2b45c;
    width: 2rem;
    height: 2rem;
}

@media (max-width: 414px) {
    .wallet .transactions .icon,
    .wallet .transactions .value {
        flex-basis: 3rem;
    }
}

@media (max-width: 768px) {
    .wallet .transactions .icon,
    .wallet .transactions .value {
        flex-basis: 7rem;
    }
}

.wallet .transactions .text {
    flex: 1;
    font-family: TradeGothicLt, sans-serif;
}

.wallet .transactions .text > *:not(:last-of-type){
    padding-bottom: 5px;
}

.wallet .transactions .tx .monospace {
    font-family: Inconsolata, monospace;
}

.wallet .transactions .tx .type {
    color: #f2b45c;
}

.wallet .transactions .tx .hash {
    cursor: pointer;
}

.wallet .transactions .tx .value {
    font-size: 2.25rem;
    font-family: Inconsolata, monospace;
}
