.wallet .balance {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.wallet .balance > * {
    flex: 0 auto;
}

.wallet .balance p {
    font-size: 4.5rem;
    font-family: Inconsolata;
}

.wallet .balance img {
    height: 5rem;
    width: 5rem;
    margin-bottom: 10px;
    margin-left: 30px;
}

.wallet .wallet-actions {
    display: flex;
    justify-content: flex-end;
}

.wallet button span {
    text-transform: none !important;
}

@media (max-width: 414px) {
    .wallet .balance {
        font-size: 2.5rem;
    }

    .wallet .balance img {
        height: 3rem;
        width: 3rem;
        display: none;
    }
}

@media (max-width: 768px) {
    .wallet .balance {
        font-size: 2.75rem;
    }

    .wallet .balance img {
        height: 3.5rem;
        width: 3.5rem;
    }
}

.wallet .transactions .tx {
    padding: 15px 0;
}

.wallet .transactions .tx:nth-child(odd) {
    background: rgb(23, 26, 33);
}

.wallet .transactions .tx:nth-child(even) {
    background: rgb(33, 39, 50);
}

.wallet .transactions .tx svg {
    color: #f2b45c;
    width: 2rem;
    height: 2rem;
    margin-left: 5vw;
}

.wallet .transactions .tx .type {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0;
}

.wallet .transactions .tx .hash {
    color: #f2b45c;
    font-size: 1rem;
    margin-bottom: 10px;
    word-wrap: break-word;
    cursor: pointer;
}

.wallet .transactions .tx .address {
    margin-bottom: 0;
    word-wrap: break-word;
}

.wallet .transactions .tx .address.label {
    color: #f2b45c;
}

.wallet .transactions .tx .timestamp {
    color: #9b9797;
}

.wallet .transactions .tx .value {
    color: #FFFFFF;
    font-size: 2.25rem;
    font-family: Roboto Thin;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .wallet .transactions .tx {
        height: 90px;
    }

    .wallet .transactions .tx svg {
        height: 1.5rem;
        width: 1.5rem;
    }

    .wallet .transactions .tx .type {
        font-size: 1rem;
    }

    .wallet .transactions .tx .timestamp {
        font-size: 0.8rem;
    }

    .wallet .transactions .tx .value {
        font-size: 1rem;
        margin-top: 20px;
    }
}

@media (max-width: 414px) {
    .wallet .transactions .tx {
        height: inherit;
    }

    .wallet .transactions .tx svg {
        height: 1.35rem;
        width: 1.35rem;
    }

    .wallet .transactions .tx .type {
        font-size: 0.9rem;
    }

    .wallet .transactions .tx .timestamp {
        font-size: 0.7rem;
    }

    .wallet .transactions .tx .value {
        font-size: 0.85rem;
        text-align: center;
    }
}

.wallet .loading-transactions h3,
.wallet .no-transactions h3 {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1.35rem;
}

.wallet .no-transactions p {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 0.75rem;
}