.new-wallet {
    min-height: 100vh;
    background: #12151a url('../../../public/assets/img/backgrounds/wallet.png') no-repeat top center;
    background-size: contain;
}

.new-wallet .logo {
    width: 300px;
    object-fit: contain;
    display: block;
    margin: 50px auto 0 auto;
}

.new-wallet .sub-header {
    font-family: GothamMedium;
    text-align: center;
    margin-top: 15px;
    color: #f2b45c;
    font-size: 32px;
}

.new-wallet .top {
    margin-top: 45vh;
    height: 60px;
    background: rgba(29, 32, 39, 0.85);
    filter: none; /*IE6-9 */
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2), /*bottom external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/ inset 0 1px 0 rgba(73, 77, 88, 1); /*top internal highlight*/
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2), /*bottom external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/ inset 0 1px 0 rgba(73, 77, 88, 1); /*top internal highlight*/
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2), /*bottom external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/ inset 0 1px 0 rgba(73, 77, 88, 1); /*top internal highlight*/
}

.new-wallet .mnemonic {
    padding: 20px 45px;
    background: -moz-linear-gradient(top, rgba(85, 88, 90, 0.5) 0%, rgba(28, 31, 40, 0.8) 50%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(85, 88, 90, 0.5) 0%, rgba(28, 31, 40, 0.8) 50%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(85, 88, 90, 0.5) 0%, rgba(28, 31, 40, 0.8) 50%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
}

.new-wallet .mnemonic p {
    font-size: 0.7rem;
    text-align: center;
}

.new-wallet .generate {
    height: 45px;
    background: rgb(255, 214, 94); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 214, 94, 0.8) 0%, rgba(198, 138, 55, 0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 214, 94, 0.8) 0%, rgba(198, 138, 55, 0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 214, 94, 0.8) 0%, rgba(198, 138, 55, 0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd65e', endColorstr='#febf04', GradientType=0); /* IE6-9 */
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2), /*bottom external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/ inset 0 1px 0 rgba(244, 240, 132, 1); /*top internal highlight*/
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2), /*bottom external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/ inset 0 1px 0 rgba(244, 240, 132, 1); /*top internal highlight*/
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2), /*bottom external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/ inset 0 1px 0 rgba(244, 240, 132, 1); /*top internal highlight*/
    cursor: pointer;
}

.new-wallet .generate p {
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 0;
    text-shadow: 1px 1px #192624;
}

.new-wallet .proceed .proceed-btn {
    display: block !important;
    margin: 0 auto;
    width: 150px;
}

@media (max-width: 767px) {
    .new-wallet {
        background-size: 200%;
    }

    .new-wallet .top {
        margin-top: 40vh;
    }

    .new-wallet .mnemonic {
        padding: 0 20px;
        height: inherit;
    }

    .new-wallet .generate p {
        font-size: 1rem;
        margin-top: 10px;
    }
}