header button span,
.actions-panel button span {
    text-transform: capitalize !important;
    font-family: Inconsolata
}

.send .balance {
    height: 60px;
    background: rgb(212, 158, 62);
    filter: none; /*IE6-9 */
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0), /*bottom external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0), /*bottom internal shadow*/ inset 0 1px 0 rgb(252, 247, 123); /*top internal highlight*/
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0), /*bottom external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0), /*bottom internal shadow*/ inset 0 1px 0 rgb(252, 247, 123); /*top internal highlight*/
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0), /*bottom external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0), /*bottom internal shadow*/ inset 0 1px 0 rgb(252, 247, 123); /*top internal highlight*/
}

.send .balance p {
    text-align: center;
    font-family: Lato;
    color: #FFFFFF;
    font-size: 1.3rem;
    text-shadow: 1px 1px #1c1f28;
    margin-bottom: 0;
}

.send .balance img {
    height: 30px;
    width: 30px;
    margin-right: 25px;
}

.send .entry {
    height: 75px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
    background: -moz-linear-gradient(top, rgb(218, 171, 87) 0%, rgb(208, 150, 56) 50%, rgb(200, 137, 42) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(218, 171, 87) 0%, rgb(208, 150, 56) 50%, rgb(200, 137, 42) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(218, 171, 87) 0%, rgb(208, 150, 56) 50%, rgb(200, 137, 42) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
}

.send .entry > * {
    flex: 1;
    text-align: center;

    font-size: 3rem;
    font-family: Inconsolata, monospace;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;

}

.send .keyboard {
    background: rgb(202, 151, 59);
}

.send .calculator-wrapper{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 20px;
}

.calculator-wrapper .calculator-keyboard {
    flex: 5;
}

.calculator-wrapper .calculator-actions {
    flex: 2;
}

.calculator-wrapper .calculator-actions .actions-panel {
    background-color: rgb(25, 28, 36) !important;
}

.send .keyboard .key {
    height: fit-content !important;
    padding: 20px !important;
}

.send .keyboard .key span{
    font-family: Roboto;
    font-weight: 600 !important;
    font-size: 2.25rem !important;
}

@media (min-width: 415px) {
    .calculator-wrapper .calculator-actions {
        padding: 0 1.5em !important;
    }
}

@media (max-width: 414px) {
    .send .balance {
        height: inherit;
        padding: 20px 0;
    }

    .send .entry {
        padding: 0 10px;
    }

    .send .entry p {
        font-size: 2rem;
    }

    .send .calculator-wrapper {
        flex-direction: column;
    }

    .calculator-wrapper .calculator-actions {
        padding: 1.5em 0 !important;
    }
}