
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/roboto-light.ttf')
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/roboto-thin.ttf')
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.ttf')
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    background-repeat: repeat-y;
    background-position: top center;
    background-image: url('/assets/img/backgrounds/bg_patterns.png');
    background-size: cover;
    background-color: #2a324e;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
