html,
body {
    overflow-x: hidden;
    background: #12151a;
}

@font-face {
    font-family: 'TradeGothic';
    src: url('../../public/assets/fonts/trade-gothic-lt.ttf')
}

@font-face {
    font-family: 'TradeGothicLt';
    src: url('../../public/assets/fonts/trade-gothic-lt-light.ttf')
}

@font-face {
    font-family: 'TradeGothicBold';
    src: url('../../public/assets/fonts/trade-gothic-lt-bold.ttf')
}

@font-face {
    font-family: 'GothamLight';
    src: url('../../public/assets/fonts/gotham-light.otf')
}

@font-face {
    font-family: 'GothamMedium';
    src: url('../../public/assets/fonts/gotham-medium.otf')
}

@font-face {
    font-family: 'GothamBold';
    src: url('../../public/assets/fonts/gotham-bold.otf')
}

@font-face {
    font-family: 'GothamRoundedMedium';
    src: url('../../public/assets/fonts/gotham-rounded-medium.otf')
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../../public/assets/fonts/roboto-light.ttf')
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../../public/assets/fonts/roboto-thin.ttf')
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/assets/fonts/roboto-regular.ttf')
}

body,
.pure-g [class*=pure-u] {
    font-family: 'Lato', 'Lato', 'Hind', 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'Lato', 'Hind', 'Oswald', 'Arial Narrow', sans-serif;
    color: #ffffff;
}

p {
    font-family: 'Lato', 'Lato', 'Hind', 'Oswald', 'Arial Narrow', sans-serif;
    color: #ffffff;
}

.dbet-link {
    text-decoration: none;
    color: #f2b45c;
}

.dbet-link:focus,
.dbet-link:hover {
    text-decoration: none;
    font-weight: bold;
    color: #f2b45c;
}

.clickable {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px; /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgb(47, 49, 62);
}

::-webkit-scrollbar-thumb {
    background: #f2b45c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}