.login {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    align-items: center;

    background: #12151a url('../../../public/assets/img/backgrounds/wallet.png') no-repeat top center;
    background-size: cover;
}

.login button span {
    text-transform: capitalize !important;
}

.login .login-wrapper{
    flex: 1;
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

.login .create-account{
    padding: 20px 0px;
}

.login .login-title > * {
    font-family: TradeGothicLt, sans-serif !important
}

.login p {
    margin: 30px 0 0 0;
    font-family: TradeGothicLt, sans-serif
}

.login-wrapper .login-actions{
    display: flex;
    flex-flow: row-reverse nowrap;
}

.login-wrapper .login-actions .button {
    flex: 0 auto;
}