.login {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background: #12151a url('../../../public/assets/img/backgrounds/wallet.png')
        no-repeat top center;
    background-size: cover;
}

.login .login-wrapper {
    flex: 1;
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
}

.login .login-wrapper > .logo {
    flex: 0 0 auto;
    align-self: center;
    padding: 10px 0px;
}

.login .login-wrapper > .logo > img {
    max-height: 64px;
}

.login .login-title {
    display: flex;
}

.login .login-title div {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.login .login-title > * {
    flex: 0 auto;
}

.login-wrapper .login-actions {
    display: flex;
    justify-content: flex-end;
}

.login-wrapper .login-actions .button {
    flex: 0 auto;
}

/* Typography */
.login .login-title > *,
.login p {
    font-family: TradeGothicLt, sans-serif !important;
}

.login button span {
    text-transform: unset !important;
}
